In [1]:
type(1)

int

In [2]:
type(1.0)

float

In [3]:
type("Hello")

str

In [4]:
"Hello " + str(1)

'Hello 1'

In [5]:
len("Hello")

5

In [6]:
"A"*40

'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA'

In [7]:
h = "Happy"
b = "Birthday"
(h + b)*10

'HappyBirthdayHappyBirthdayHappyBirthdayHappyBirthdayHappyBirthdayHappyBirthdayHappyBirthdayHappyBirthdayHappyBirthdayHappyBirthday'

In [8]:
type(True)

bool

In [9]:
0 == 0

True

In [10]:
0 == 1

False

In [11]:
type('a')

str

In [12]:
1 > 0

True

In [13]:
"H" in "Hello"

True

In [14]:
"X" not in "Hello"

True

In [15]:
if 6>5:
    print("six is greater than five")

six is greater than five

In [16]:
if 0 > 2:
    print("zero is greater than two")
else:
    print("zero is not greater than two")

zero is not greater than two

In [17]:
x = 1

In [18]:
x > 0 and x < 2

True

In [19]:
"a" in "Hello" or "e" in "Hello"

True

In [20]:
sister = 15
brother = 15
if sister > brother:
    print("Sister is older")
elif sister == brother:
    print("They are the same age!")
else:
    print("Brither is older")

They are the same age!

### Lists

In [21]:
your_list = ["a", "b", "c"]

In [22]:
your_list

['a', 'b', 'c']

In [23]:
type(your_list)

list

In [24]:
len(your_list)

3

In [25]:
"a" in your_list

True

In [26]:
"z" in your_list

False

In [27]:
your_list[0]

'a'

In [28]:
your_list.append("d")
your_list

['a', 'b', 'c', 'd']

In [29]:
names = ["Alice", "Amy"]
names.append("Adam")

In [30]:
names[0]

'Alice'

In [31]:
names[0] = "Jimmy"
names[0]

'Jimmy'

In [32]:
names.append("Tim")

In [33]:
names[len(names)-1]

'Tim'

In [34]:
names

['Jimmy', 'Amy', 'Adam', 'Tim']

In [35]:
print(names[-1])
print(names[-2])
print(names[-3])

Tim
Adam
Amy

In [36]:
fruits = ["apples", "bananas", "oranges"]
fruits[0]

'apples'

In [37]:
fruits[-1]

'oranges'

### Looping

In [38]:
names = ["Alice", "Bob", "Diane", "Ellen"]
for name in names:
    print(name)

Alice
Bob
Diane
Ellen

In [39]:
for name in names:
    if name[0] in "AEIOU":
        print(name)

Alice
Ellen

In [40]:
vowel_names = []
for name in names:
    if name[0] in "AEIOU":
        vowel_names.append(name)

In [41]:
vowel_names

['Alice', 'Ellen']

In [42]:
prices = [1.5, 2.35, 5.99, 16, 49]

In [43]:
total = 0

In [44]:
for x in prices:
    total = total + x

In [45]:
total

74.84

### Dictionaries

In [46]:
ice_cream = {"Alice": "chocolate", "Bob": "vanilla", "Claire": "oreo mint"}

In [47]:
ice_cream.get("Claire")

'oreo mint'

In [48]:
ice_cream["Alice"]

'chocolate'

In [49]:
ice_cream.items()

dict_items([('Alice', 'chocolate'), ('Bob', 'vanilla'), ('Claire', 'oreo mint')])

In [50]:
ice_cream["Eve"] = "rum raisin"
ice_cream

{'Alice': 'chocolate',
 'Bob': 'vanilla',
 'Claire': 'oreo mint',
 'Eve': 'rum raisin'}

In [51]:
"Eve" in ice_cream

True

### Modules

In [52]:
import random

In [53]:
random.randint(1, 100)

9

In [54]:
cards = ["jack", "queen", "king", "ace"]

In [55]:
random.choice(cards)

'ace'

In [56]:
random.choice(cards)

'king'

In [57]:
random.choices(cards, k = 2)

['king', 'queen']

### While Loop

In [59]:
counter = 0
while counter < 5:
    print("Hello " + str(counter))
    counter +=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4

In [1]:
counter = 0
while True:
    print("Hello " + str(counter))
    counter += 1
    
    if counter >=5:
        break

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4

In [ ]:
print("Hello Human")
while True:
    user_input = input("> ")
    if user_input == "quit":
        print("Goodbye Human")
        break

Hello Human
> вап
> вап